<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration status="WARN">-->
    <!--<Properties>-->
        <!--<Property name="basePath">/tsf-demo-logs/consumer-demo</Property>-->
    <!--</Properties>-->
    <!--<appenders>-->
        <!--&lt;!&ndash;  输出控制台的配置 &ndash;&gt;-->
        <!--<Console name="console" target="SYSTEM_OUT">-->
            <!--&lt;!&ndash;  控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） &ndash;&gt;-->
            <!--<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>-->

            <!--&lt;!&ndash;            <PatternLayout pattern="%d %nano %p %M %uuid %m%n" />&ndash;&gt;-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %trace %level %F [%l] %message%n" />-->
        <!--</Console>-->
        <!--<RollingFile name="TSF" fileName="${basePath}/root.log" filePattern="${basePath}/root.%d{yyyy-MM-dd}.%i.log">-->
            <!--<PatternLayout>-->
                <!--&lt;!&ndash;                <PatternLayout pattern="%d %nano %p %M %uuid %m%n" />&ndash;&gt;-->
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %trace %level %F [%l] %message%n</pattern>-->
            <!--</PatternLayout>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="1" modulate="true" />-->
            <!--</Policies>-->
        <!--</RollingFile>-->
    <!--</appenders>-->

    <!--&lt;!&ndash; 然后定义logger，只有定义了logger并引入的appender，appender才会生效 &ndash;&gt;-->
    <!--<loggers>-->
        <!--<root level="info">-->
            <!--<appender-ref ref="console"/>-->
            <!--<appender-ref ref="TSF" />-->
        <!--</root>-->

    <!--</loggers>-->
<!--</configuration>-->